.faq {
    background-color: var(--color-faq-background);
    padding-bottom: 100px;
}

.faq__title {
    text-align: center;
    color: var(--color-faq-title);
    font-family: Signika, sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.faq__subtitle {
    text-align: center;
    color: var(--color-faq-subtitle);
    font-family: Open sans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.faq__title-underline {
    width: 50px;
    border: solid;
    border-color: var(--color-testimonials-title-divider);
    border-width: 1px;
    margin: 16px auto;
}

.faq__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1210px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.faq-answer-the-question {
    margin: 0, 20px;
    display: block;
    min-width: 260px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.faq-question {
    color: var(--color-faq-question);
    font-family: Signika, sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}

.faq-answer {
    color: var(--color-faq-answer);
    font-family: Open sans, sans-serif;
    font-size: 16px;
}

@media (min-width: 815px){
    .faq-answer-the-question {
        max-width: calc(100% / 2 - 10px);
    }
    
    .faq__subtitle {
        width: 70%;
    }
}

@media (min-width: 1145px){
    .faq-answer-the-question {
        max-width: calc(100% / 3 - 10px);
    }

    .faq__subtitle {
        width: 40%;
    }
}