.form {
    background: url(../images/form/background_form.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 900px;
    justify-content: space-around;
    padding-top: 50px;
}
.form__box {
    width: 570px;
    height: 716.19px;
    background-color: var(--color-form-background);
    margin-left: 15%;
    line-height: 22.5px;
    padding: 40px;
    text-align: center;
}
.form__title {
    color: var(--color-form-title);
    font-size: 42px;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__divider {
    width: 15%;
    border-top: 3px solid var(--color-form-divider);
    margin: auto;
    padding: 5px 0;
}
.form__text {
    font-size: 18px;
    color: var(--color-form-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_-input {
    display: block;
    margin: auto;
    width: 85%;
    }
.form__submit {
    font-size: 15px;
    color: var(--color-form-submit);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}