.gallery__title{
    color: #212121;
    font-size: 42px;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__divider {
    padding: 15px 0px;
    width: 5%;
    border-top: 3px solid var(--color-about-decoration-line);
    margin: auto;
 }

.gallery__text {
    font-size: 18px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

