.gallery__title {
    color: var(--color-gallery-title);
    font-size: 42px;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__divider {
    width: 15%;
    border-top: 3px solid var(--color-gallery-divider);
    margin: auto;
    padding: 15px;
 }

.gallery__text {
    font-size: 18px;
    color: var(--color-gallery-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-image {
    width: 282px;
}
