.gallery__title{
    color: #212121;
    font-size: 42px;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .why-choose-us__heading .divider {
    width: 5%;
    border-top: 3px solid var(--yellow);
    margin: auto;
    padding: 15px;
 }

.why-choose-us__text {
    font-size: 18px;
    color: var(--light-gray);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us__list-item {
    margin: 15px;
    background-color: var(--gray);
    background-attachment: scroll;
}

.why-choose-us__number {
    font-size: 62px;
    color: var(--yellow);
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us__list-item .divider {
    background-color: white;
    width: 15%;
    border-top: 3px;
    margin: auto;
    padding: 1px;
}

.why-choose-us__list-title {
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us__list-text {
    font-size: 16px;
    color: var(--dirty-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: justify;
    text-align: center;
}

@media (min-width: 600px) {
    
    .why-choose-us__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

} */