@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;

    /* --yellow: #edc100; */
    --color-header-hero-divider: #edc100;
    --color-header-navigation-hover: #edc100;
    --color-header-hero_button_learn-more-background: #edc100;
    --color-header-numbers: #edc100;
    --color-about-decoration-line: #edc100;
    --color-about-button-background: #edc100;

    /* --dirty-white: #c9c9c9; */
    --color-header-course-information-text: #c9c9c9;
    --color-hero_button_learn-more-hover: #c9c9c9;
    --color-hero_button_schedule-background: #c9c9c9;
    --color-hero_button_schedule-hover: #c9c9c9;

    /* --light-gray: #555555; */
    --color-about-text: #555555;

    /* --gray: #2a2929; */

    /* --dark-gray: #212121; */
    --color-header-nav-background: #212121;
    --color-header-container-background: #212121;
    --color-header-button-text-hover: #212121;
    --color-header-course-information-items: #212121;
    --color-about-button-background-hover: #212121;
    --color-join-decoration-line: #212121;
    --color-join-schedule-button-text: #212121;
    --color-join-schedule-button-background-hover: #212121;
    --color-join-button-border: #212121;
    --color-join-schedule-button-background: #212121;
    --color-join-sign-up-button-text-hover: #212121;
    --color-join-sign-up-button-background: #212121;

    /* --white: #ffffff; */
    --color-header-navigation: #ffffff;
    --color-header-tittle: #ffffff;
    --color-header-text: #ffffff;
    --color-header-navbar-toggler: #ffffff;
    --color-header-navbar-expand-lg: #ffffff;
    --color-header-learn-more-button-background-hover: #ffffff;
    --color-header-button-text: #ffffff;
    --color-header-schedule-button-border: #ffffff;
    --color-header-schedule-button-background-hover: #ffffff;
    --color-header-button-background-hover: #ffffff;
    --color-header-button_learn-more-border: #ffffff;
    --color-about-background: #ffffff;
    --color-about-button-text: #ffffff;
    --color-join-schedule-button-text-hover: #ffffff;
    --color-join-sign-up-button-text: #ffffff;
    --color-join-sign-up-button-background-hover: #ffffff;
    --color-join-sign-up-button-border-hover: #ffffff;

}

img {
    display: block;
    width: 100%;
}

