.join {
   margin-top: 70px;
   background: url("../images/join-us/athlete-stands-on-his-head.png");
}

.join__container {
   padding: 100px 24px;
}

.join__title {
   font-weight: 700;
   font-size: 62px;
   font-family: 'Acme', sans-serif;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 5px;
}

.join__title-line {
   width: 15%;
   border-top: 3px solid var(--color-join-decoration-line);
   margin: auto;
   padding: 5px 0;
}

.join__text {
   padding: 10px 20px 20px 20px;
   font-size: 18px;
   font-weight: 700;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 28.8px;
}

.join__links {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

.join__links a {
   border: 3px solid var(--color-join-button-border);
   border-radius: 2px;
   text-decoration: none;
   margin: 5px;
   padding: 10px 25px;
   font-weight: 700;
}

.join__schedule {
   color: var(--color-join-schedule-button-text);
}

.join__schedule:hover {
   color: var(--color-join-schedule-button-text-hover);
   background-color: var(--color-join-schedule-button-background-hover);
}

.join__sign-up {
   color: var(--color-join-sign-up-button-text);
   background-color: var(--color-join-sign-up-button-background);
}

.join__sign-up:hover {
   border: 3px solid var(--color-join-sign-up-button-border-hover);
   color: var(--color-join-sign-up-button-text-hover);
   background-color: var(--color-join-sign-up-button-background-hover);
}

@media screen and (min-width: 768px) {
   .join__container {
      width: 45%;
      padding: 100px 30px;
   }

   .join__title {
      font-size: 91px;
      text-align: center;
      line-height: 90px;
   }

   .join__text {
      padding: 10px 20px 20px 0px;
   }
}

@media screen and (min-width: 991px) { 
   .join__title {
      font-size: 120px;
      text-align: center;
      line-height: 120px;
   }
}