.testimonials {
    background-image: url("../images/testimonials/testimonials-background.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 220px;
}

.testimonials__title {
    text-align: center;
    font-family: Signika, sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: var(--color-testimonials-title-text);
}

.testimonials__subtitle {
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-testimonials-title-text);
    padding: 0 20px;
}

.testimonials__title-underline {
    width: 50px;
    border: solid;
    border-color: var(--color-testimonials-title-divider);
    border-width: 1px;
    margin: 16px auto;
}

.testimonials__list {
    max-width: 1265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.testimonial {
    background-color: var(--color-testimonial-background);
    padding: 0px 15px;
    padding-bottom: 30px;
    min-width: 250px;
}

@media (min-width: 768px) {
    .testimonial {
        max-width: calc(100% / 2 - 60px);
    }
}

@media (min-width: 992px) {
    .testimonial {
        max-width: calc(100% / 3 - 60px);
    }
}

.testimonial__pic {
    width: 100%;
    margin: 60px auto 30px auto;
    enable-background:new 0 0 100 100;
    max-width:100%;
    color: var(--color-testimonial-img);
}

.testimonial__username {
    margin: 0px 35px 0px 35px;
    text-align: center;
    font-family: Signika, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: var(--color-testimonial-username);
}

.testimonial__text {
    margin: 20px 37px 0px 37px;
    text-align: center;
    font-family: Open sans, sans-serif;
    font-size: 16px;
    color: var(--color-testimonial-text);
}

.testimonial__date {
    margin: 20px 35px 0px 35px;
    text-align: center;
    font-weight: bold;
    font-family: Open sans, sans-serif;
    font-size: 14px;
    color: var(--color-testimonial-date);
}